<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/students">StudyTracker</a>

  <button class="navbar-toggler" type="button" (click)="onToggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngClass]="navbarOpen ? 'show' : ''">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link"  routerLink="/students" routerLinkActive=" active custom-active-link">Students</a>
      </li>

      <li class="nav-item">
        <a class="nav-link"  routerLink="/add-student" routerLinkActive="custom-active-link">AddStudent</a>
      </li>

      <li class="nav-item">
        <a class="nav-link"  routerLink="/settings" routerLinkActive="custom-active-link" (click)="onClickSettings()">Settings</a>
      </li>
    </ul>
    <div class="dropdown mr-2">
      <button 
        class="btn btn-light dropdown-toggle" 
        type="button" 
        id="dropdownSortMenuButton" 
        data-toggle="dropdown" 
        aria-haspopup="true" 
        aria-expanded="false"
        (click)="onToggleSortStudents()"
      > Sort Students </button>
      <div 
        class="dropdown-menu" 
        aria-labelledby="dropdownSortMenuButton"
        [ngClass]="sortDropdownOpen ? 'show' : ''"
      >
        <button class="dropdown-item" (click)="onSortByName()">By name</button>
        <button class="dropdown-item" (click)="onSortByScore()">By score</button>
      </div>
    </div>
  </div>
</nav>
