<div class="container d-flex justify-content-center">
    <div class="card m-4" style="width: 18rem;">
        <div class="card-body">
            <div class="form-group">
                <h5 class="card-title">Name: </h5>
                <input 
                    type="text" 
                    class="form-control"
                    [(ngModel)]="newStudent.name"
                >
            </div>

            <div class="form-group">
                <h5 class="card-title">ID: </h5>
                <input 
                    type="text" 
                    class="form-control"
                    disabled
                    [(ngModel)]="newStudent.id"
                >
            </div>

            <div class="form-group">
                <h5 class="card-title">Photo URL: </h5>
                <input 
                    type="text" 
                    class="form-control"
                    [(ngModel)]="newStudent.photo"
                >
            </div>
            
            <div class="form-group mt-4">
                <h5 class="card-title">Grades: </h5>
                <div class="m-1" *ngFor="let subject of studentSubjects">
                    <span class="text-capitalize">{{ subject }}: </span>
                    <input 
                    type="number"
                    class="mod"
                    min="0"
                    max="10"
                    step="1"
                    [(ngModel)]="newStudent.grades[subject]"
                    >
                </div>
            </div>

            <div class="form-group mt-4">
                <h5 class="card-title">Description: </h5>
                <textarea 
                    class="form-control" 
                    rows="3" 
                    [(ngModel)]="newStudent.description"
                ></textarea>
            </div>

            <div class="d-flex justify-content-around mt-4">
                <button class="btn btn-success" (click)="onSaveNewStudent()">Save</button>
                <button class="btn btn-danger" (click)="onCancelNewStudent()">Cancel</button>
            </div>

        </div>
    </div>
</div>