<div class="card m-3" style="width: 15rem;">
    <img class="card-img-top student-img" [src]="student.photo" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{ student.name }}</h5>
      <p class="card-text">{{ student.description }}</p>
      <div class=" d-flex justify-content-between">
            <h6 class="d-flex align-items-center" appScoreHighlight [score]="student.score">Score: {{ student.score }}</h6>
            <button class="btn btn-primary" (click)="onClickDetails(student.id)">Details</button>
      </div>
    </div>
</div>
