<div class="bg-light">
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="text-center">Importance:</h4>
            </div>
            <div class="panel-body d-flex justify-content-around">
                <div *ngFor="let subject of subjects">
                    <span class="text-capitalize">{{ subject.name }}: <span class="subject-value">{{ subject.importance }}%</span></span>
                    <input 
                        type="range"
                        class="custom-range"
                        min="0"
                        max="100"
                        step="1"
                        [value]="subject.importance"
                        (input)="onChangeImportancePercentage(subject.name, $event.target.valueAsNumber)"
                    >
                </div>
            </div>
        </div>
    </div>
</div>
