<div class="container d-flex justify-content-center">
    <div class="card" style="width: 18rem;">
        <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
        <div class="card-body">
            <h5 class="card-title">Name: {{ currentStudent.name }}</h5>
            <input type="text" class="form-control" placeholder="Change name">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <div class="m-1" *ngFor="let subject of ['math', 'english', 'biology']">
                <span class="text-capitalize">{{ subject }}: </span>
                <input 
                    type="number"
                    class="mod"
                    min="0"
                    max="10"
                    step="1"
                    value="5"
                >
            </div>
            <div class="d-flex justify-content-around mt-4">
                <a href="#" class="btn btn-success" (click)="onClickSaveDetails()">Save</a>
                <a href="#" class="btn btn-danger" (click)="onClickCancelDetails()">Cancel</a>
            </div>
        </div>
    </div>
</div>